celery
codeclimate-test-reporter
coverage>=4.0,<4.4
MySQL-python
-e git://github.com/pacifica/pacifica-archiveinterface.git#egg=PacificaArchiveInterface
-e git://github.com/pacifica/pacifica-ingest.git#egg=PacificaIngest
-e git://github.com/pacifica/pacifica-metadata.git#egg=PacificaMetadata
-e git://github.com/pacifica/pacifica-policy.git#egg=PacificaPolicy
-e git://github.com/pacifica/pacifica-uniqueid.git#egg=PacificaUniqueID
peewee
pep257
pre-commit
pylint<1.8
pytest
radon
requests
